<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiscordBotGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DiscordBotGUI.Properties.Settings>
      <setting name="CmdConfigPath" serializeAs="String">
        <value>C:\Project\DiscordBotGUI\DiscordBotGUI\bin\Debug</value>
      </setting>
      <setting name="FormSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainForm_FormX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="MainForm_FormY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MainForm_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainForm_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainForm_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Setting_FormX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="Setting_FormY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Setting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Edit_FormX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="Edit_FormY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Edit_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Edit_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Edit_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QASetting_FormX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="QASetting_FormY" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="QASetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QASetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QASetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteSetting_FormX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DeleteSetting_FormY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="DeleteSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeleteSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeleteSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BanSetting_FormX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="BanSetting_FormY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="BanSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BanSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BanSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KickSetting_FormX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="KickSetting_FormY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="KickSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KickSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KickSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RoleSetting_FormX" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="RoleSetting_FormY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RoleSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RoleSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RoleSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WeatherInfoSetting_FormX" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="WeatherInfoSetting_FormY" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="WeatherInfoSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WeatherInfoSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WeatherInfoSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JoiningLeavingSetting_FormX" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="JoiningLeavingSetting_FormY" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="JoiningLeavingSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JoiningLeavingSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="JoiningLeavingSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VersionInfo_FormX" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="VersionInfo_FormY" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="VersionInfo_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VersionInfo_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VersionInfo_Init" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LicenseInfoSetting_FormX" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="LicenseInfoSetting_FormY" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="LicenseInfoSetting_PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LicenseInfoSetting_PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LicenseInfoSetting_Init" serializeAs="String">
        <value>False</value>
      </setting>
    </DiscordBotGUI.Properties.Settings>
  </userSettings>
</configuration>